body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

.question {
    font-weight: bold;
    font-size: 20px;
}

.monkeyPic {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

#pageOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageTwo {
    display: none;
    flex-direction: column;
    text-align: center;
}
.yay{
    font-size: 50px;
}
.message{

}

